fuse6-apps/soap/hello-client/src/main/resources/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloService" targetNamespace="http://cxf.learn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cxf.learn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:types>
	<xs:schema xmlns:tns="http://cxf.learn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://cxf.learn/" version="1.0">

	  <!-- definitions for service 'hello' -->
	  <xs:element name="hello" type="tns:hello"/>
	  <xs:element name="helloResponse" type="tns:helloResponse"/>

	  <xs:complexType name="hello">
		<xs:sequence>
		  <xs:element minOccurs="0" name="thename" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>

	  <xs:complexType name="helloResponse">
		<xs:sequence>
		  <xs:element minOccurs="0" name="return" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>

	  <!-- definitions for service 'bonjour' -->
	  <xs:element name="bonjour" type="tns:bonjour"/>
	  <xs:element name="bonjourResponse" type="tns:bonjourResponse"/>

	  <xs:complexType name="bonjour">
		<xs:sequence>
		  <xs:element minOccurs="0" name="input1" type="xs:string"/>
		  <xs:element minOccurs="0" name="input2" type="tns:bonjourSubnode"/>
		  <xs:element minOccurs="0" name="input3" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>

	  <xs:complexType name="bonjourSubnode">
		<xs:sequence>
		  <xs:element minOccurs="0" name="data1" type="xs:string"/>
		  <xs:element minOccurs="0" name="data2" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>

	  <xs:complexType name="bonjourResponse">
		<xs:sequence>
		  <xs:element minOccurs="0" name="return" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>

	</xs:schema>
  </wsdl:types>

  <wsdl:message name="helloResponse">
    <wsdl:part name="parameters" element="tns:helloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hello">
    <wsdl:part name="parameters" element="tns:hello">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bonjourResponse">
    <wsdl:part name="parameters" element="tns:bonjourResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bonjour">
    <wsdl:part name="parameters" element="tns:bonjour">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="HelloWS">
    <wsdl:operation name="hello">
      <wsdl:input name="hello" message="tns:hello">
    </wsdl:input>
      <wsdl:output name="helloResponse" message="tns:helloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bonjour">
      <wsdl:input name="bonjour" message="tns:bonjour">
    </wsdl:input>
      <wsdl:output name="bonjourResponse" message="tns:bonjourResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="HelloServiceSoapBinding" type="tns:HelloWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bonjour">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bonjour">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bonjourResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="HelloService">
    <wsdl:port name="HelloWSPort" binding="tns:HelloServiceSoapBinding">
      <soap:address location="http://localhost:9090/HelloWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
